//Variables
$yellow:#FDECCE
$darkBlue: #262E5E
$lightBlue: #EBF8FF
$white: #ffffff

//Mixins
=flexRow()
    display: flex
    flex-flow: row
    flex-wrap: wrap
    justify-content: center
    align-items: center

=flexColumn()
    display: flex
    flex-flow: column
    flex-wrap: wrap
    justify-content: center
    align-items: center

*
    margin: unset
    box-sizing: border-box
    font-family: 'Mulish', sans-serif
    color: $darkBlue

.logo
    color: $darkBlue !important
    font-weight: 900
    text-transform: uppercase
    @media screen and (max-width: 515px)
        display: none

.mobile-logo
    color: $darkBlue !important
    font-weight: 900
    text-transform: uppercase
    @media screen and (min-width: 515px)
        display: none

.nav-link
    text-transform: uppercase
    color: $darkBlue !important
    font-weight: 900

h1
    color: $darkBlue
    font-weight: 700
    letter-spacing: -2.5px
    font-size: 3em
    @media screen and (max-width: 835px)
        font-size: 2.5em

h3
    font-size: 1.75em
    font-weight: 700

.days, .times
    margin-top: 0
    margin-bottom: 0
    font-size: 12px
    @media screen and (max-width: 835px)
        display: none

.days
    font-weight: 700

.sub-menu
    background-color: $yellow

.request, .service-section-button
    background-color: $darkBlue
    border: none
    border-radius: unset
    color: white 
    font-weight: 800
    padding-top: 15px
    padding-bottom: 15px
    
.emergency
    background-color: $yellow
    border: none
    padding: 10px
    border-radius: unset
    color: $darkBlue 
    font-weight: 800
    padding-top: 15px
    padding-bottom: 15px

.request-hero, .emergency
    @media screen and (min-width: 1023px) and (max-width: 1279px)
        padding-top: 5px
        padding-bottom: 5px
   

.hero-section-container
    background-image:  linear-gradient($lightBlue, $white)

.hero-image
    background-color: white

.toggle
    border: none

.request-cta
    @media screen and (max-width: 835px)
        display: none

.info-card-img
    background-color: $white
    border: solid grey 1px
    width: 100%

.section-spacer
    @media screen and (min-width: 768px)
        margin-bottom: 100px
        margin-top: 100px

.office-hours
    font-weight: 900
    font-size: .8em

.contact-section
    background-color: $darkBlue

.contact-header, .contact-typography, .contact-copy
    color: $white