//Variables
$yellow:#FDECCE
$darkBlue: #262E5E
$lightBlue: #EBF8FF
$white: #ffffff

//Mixins
=button()
    padding: 15px
    font-size: 1em
    font-weight: 800
    background-color: $darkBlue
    color: white
    border: none

=flexRow()
    display: flex
    flex-flow: row
    flex-wrap: wrap
    justify-content: center
    align-items: center

=flexColumn()
    display: flex
    flex-flow: column
    flex-wrap: wrap
    justify-content: center
    align-items: center

*
    margin: unset
    box-sizing: border-box
    font-family: 'Mulish', sans-serif
    color: $darkBlue

.logo
    color: $darkBlue !important
    font-weight: 900
    text-transform: uppercase
    @media screen and (max-width: 515px)
        display: none

.mobile-logo
    color: $darkBlue !important
    font-weight: 900
    text-transform: uppercase
    @media screen and (min-width: 515px)
        display: none

.nav-link
    text-transform: uppercase
    color: $darkBlue !important
    font-weight: 900

h1
    color: $darkBlue
    font-weight: 700
    letter-spacing: -2.5px
    font-size: 3em
    @media screen and (max-width: 835px)
        font-size: 2.5em
    
h3
    font-size: 1em
    font-weight: 900

.days, .times
    margin-top: 0
    margin-bottom: 0
    font-size: 12px
    @media screen and (max-width: 835px)
        display: none

.days
    font-weight: 700

.sub-menu
    background-color: $yellow

.request
    background-color: $darkBlue
    border: none
    padding: 10px
    border-radius: unset
    color: white 
    font-weight: 800

.hero-section-container
    background-image:  linear-gradient($lightBlue, $white)

.hero-image
    background-color: white

.toggle
    border: none

.request-cta
    @media screen and (max-width: 835px)
        display: none

.info-card-img, .top-section-image
    max-width: 300px